<h1>About iMagr!</h1>
<h2>This page is currently under construction</h2>

<p>iMagr! is what we call a "Photo-utilisation" Application. It is intended for extensive manipulation of image files.</p>
<p>Intended users include professional designers,photographers,bloggers,hobbyists..infact,anyone who likes to play with images</p>

<button class="btn btn-primary">Learn More &raquo;</button>