<h1>About 7oto!</h1>
<h2>This page is currently under construction</h2>

<p>7oto! is an image sharing and manipulation Application, (and it's pronounced 'photo',thanks alot). Share your pictures and see what others share too!</p>
<p>Simply snap,add, sort, share and share some more! Preserve those special (and not so special) moments..</p>


<h4>Check back soon!</h4>

<%= link_to "Learn More ", "http://www.google.com", class: "btn btn-primary btn-lg" %><br />