<div class="jumbotron" class="center">
  <h1>iMagr!</h1>
<p>The web app that helps you share memories and play with the images!</p>

 <% if user_signed_in? %>
  
   <iframe src="https://player.vimeo.com/video/141922873?title=0&byline=0&portrait=0&badge=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
   <p>You may continue below to experience our app </p>
   <%= link_to "Continue", about_path, class: "btn btn-primary btn-lg" %>
 <% else %>
<p>
<%= link_to "Register", new_user_registration_path, class: "btn btn-primary btn-lg" %>
<%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-lg" %>
</p>
 <% end %>

</div>

