<h1>Welcome to iMagr!</h1>
<input type="search" placeholder="Search.." />
<h3>Created by iLaid Media</h3>
<p>This is the latest photo utilisation,mobile-specific app!</p>
<%= link_to "Sign Up","#" %>
