<div class="jumbotron" class="center">
  <h1>Welcome to iMagr!</h1>
<p>This is a new photo-utilisation,mobile-centric app!</p>
<p>
<%= link_to "Register","#", class: "btn btn-primary btn-lg" %>
<%= link_to "Sign In","#", class: "btn btn-default btn-lg" %>
</p>
</div>

